.main_container {
  margin: 200px auto;
  width: 90%;
}

.main_container > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #0f172a;
  padding-left: 5%;
  margin-top: 5%;
  margin-bottom: 40px;
}

#products_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.grid_el {
  width: 25%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}

.product_img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.product_title {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0f172a;
  margin-top: 10%;
}

.product_price {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0f172a;
}

.product_button {
  color: #0f172a;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.wrapper {
  display: flex;
  justify-content: center;
}

aside {
  width: 100%;
  height: 100%;
  background-color: #f7fafc;
  padding: 20px;
  margin-top: 8%;
  border-radius: 7px;
  position: sticky;
  top: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 10%;
  margin-left: 5%;
  padding: 20px;
}

aside > h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0f172a;
  margin-bottom: 20px;
}

.btn1 {
  background-color: #1e40af;
  color: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 7px;
  cursor: pointer;
  width: 80%;
  font-size: 20px;
}

.btn1:hover {
  opacity: 0.9;
  transition: ease-in-out 0.3s;
}

.wrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price_title_wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}


/* PRODUCT DETAIL CSS */

.prod_detail_container {
  margin: 200px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod_gallery {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

#prod_img1,
#prod_img2,
#prod_img3,
#prod_img4 {
  width: 45%;
  height: 600px;
  object-fit: cover;
}


.prod_el {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 37px;
}

.prod_el > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #0f172a;
}

.prod_el > span {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0f172a;
}

.prod_el > p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0f172a;
}

.prod_el > button {
  background-color: #1e40af;
  color: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.prod_el > button:hover {
  opacity: 0.9;
  transition: ease-in-out 0.3s;
}

#color1, #color2, #color3, #color4 {

    width: 40px;
    height: 40px;
    border-radius: 50%;
}


@media screen and (max-width: 1024px){  
  .grid_el{
    width: 100%;
  }

  .wrapper{
    flex-direction: column;
  }

  aside{
    position: initial;
  }
  .prod_detail_container{
    flex-direction: column-reverse;
    margin-top: 350px;
    gap: 50px;
  }

  .prod_gallery{
    width: 100%;
  }

  #prod_img1,
  #prod_img2,
  #prod_img3,
  #prod_img4 {
    width: 100%;
  }

  .prod_el{
    width: 100%;
  }

  #color1, #color2, #color3, #color4 {
    width: 20px;
    height: 20px;
  }

  #prod_title{
    font-size: 1.5rem;
  }
}

