<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Document</title>
</head>
<body style="overflow: hidden;">
    <object>
        <footer>
            <div class="cols">
                <ul class="col">
                    <span>Webshop</span>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Products</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Categories</a>
                    </li>
                </ul>
                <ul class="col">
                    <span>Corporate info</span>
                    <li>
                        +4733378901 contact us via phone
                    </li>
                    <li>
                        m&mshop@mail.com contact us via email
                    </li>
                    <li>
                        1234 Main St. contact us via mail 
                    </li>
                    <li>
                         Adress: Mall of Split, Ul. Josipa Jovića 93, 21000, Split
                    </li>
                </ul>
            </div>
           
        </footer>
    </object>
</body>
</html>