<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Document</title>
</head>
<body style="overflow: hidden;">
    <object>
      <footer>
        <div class="cols">
          <ul class="col">
            <span>Webshop</span>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Products</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">About</a>
            </li>
            <li>
              <a href="">Categories</a>
            </li>
          </ul>
          <ul class="col">
            <span>Corporate info</span>
            <li>
              <a href="tel:+4733378901">+4733378901 contact us via phone</a>
            </li>
            <li>
              <a href="mailto:m&mshop@mail.com"
                >m&mshop@mail.com contact us via email</a
              >
            </li>
            <li>1234 Main St. contact us via mail</li>
            <li>
              <a
                href="https://www.google.com/maps/place/Mall+of+Split/@43.519349,16.484315,14z/data=!4m6!3m5!1s0x13355e4a4cf241e7:0xeb4d43195df0abb1!8m2!3d43.5193492!4d16.4843146!16s%2Fg%2F11flbt5p__?hl=hr&entry=ttu"
                target="_blank"
                rel="noopener noreferrer"
                >Adress: Mall of Split, Ul. Josipa Jovića 93, 21000, Split</a
              >
            </li>
          </ul>
          <ul class="col">
            <span>Help</span>
            <li>
              <a href="">Customer service</a>
            </li>
            <li>
              <a href="">Legal & Privacy</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">Cookie Notice</a>
            </li>
            <li>
              <a href="">FAQ</a>
            </li>
          </ul>
          <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11572.737228396012!2d16.4843146!3d43.5193492!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13355e4a4cf241e7%3A0xeb4d43195df0abb1!2sMall%20of%20Split!5e0!3m2!1shr!2shr!4v1703859185502!5m2!1shr!2shr"
              style="border: 0; border-radius: 5px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <div class="bottom_el">
          <p>© 2023 M&M Shop. All Rights Reserved.</p>
          <h2>M&M</h2>
        </div>
      </footer>
    </object>
</body>
</html>